{{ if  http_proxy is defined and not http_proxy|length }}
http_proxy="{{  http_proxy  }}"
{{ endif }}
{{ if  https_proxy is defined and not https_proxy|length }}
https_proxy="{{ https_proxy }}"
{{ endif }}
