{% set item  = hostvars[sub_inventory_hostname]  %}
{% set item_host = hostvars[item.kvm_host] %}
{% set kvm_id = item.kvm_id|string %}

{% if not kvm_id in proxmox_host_guests %}
# 
# PROXOMOX GUEST ID: {{ kvm_id }}
# ERROR - the guest does not exist on the host, therefore it makes no sense to further process this
# 
{% else %}
{% set disable_zincati = item.fcos_disable_zincati if 'fcos_disable_zincati' in item else fcos_disable_zincati %}
{% set remove_packages = item.fcos_remove_packages if 'fcos_remove_packages' in item else fcos_remove_packages %}
{% set gateway = item.fcos_gateway if 'fcos_gateway' in item else fcos_gateway %}
{% set netmask = item.fcos_netmask if 'fcos_netmask' in item else fcos_netmask %}
{% set nameservers = item.fcos_nameservers if 'fcos_nameservers' in item else fcos_nameserver %}
{% set override_sysconfig_docker = item.fcos_override_sysconfig_docker if 'fcos_override_sysconfig_docker' in item else fcos_override_sysconfig_docker  %}
{% set format_policy = item.format_policy if 'format_policy' in item else 'default' -%}
{% set cgroupsv1 = item.cgroupsv1 if 'cgroupsv1' in item else false -%}

variant: fcos
version: 1.0.0
passwd:
  users:
  - name: core
{% if (item.sshkeys|default(fcos_sshkeys))|length  > 0 %}
    ssh_authorized_keys:
{% for item in item.sshkeys|default(fcos_sshkeys) %}
    - "{{ item }}"
{% endfor %}
{% endif %}
    groups:
    - sudo
    - docker
systemd:
  units:
{% if disable_zincati is boolean and disable_zincati %}
  - name: zincati.service
    mask: true
{% endif %}
  - name: update-ca-trust.service
    enabled: true
    contents: |
      [Unit]
      [Service]
      Type=oneshot
      ExecStart=/usr/bin/update-ca-trust
      [Install]
      WantedBy=multi-user.target

{% if  format_policy == 'default' %}
{% if  'disk1' in item_host['disk_uuid'][item.kvm_id] %}
  - name: var-srv-data.mount
    enabled: true
    contents: |
      [Unit]
      Before=local-fs.target
      [Mount]
      What=UUID={{ item_host['disk_uuid'][item.kvm_id]['disk1'] }}
      Where=/var/srv/data
      Type=xfs
      [Install]
      WantedBy=local-fs.target
{% endif %}
{% endif %}


storage:
  files:
{% if fcos_reverse_path_filter_quirk is boolean and fcos_reverse_path_filter_quirk %}
  - path: /etc/sysctl.d/reverse-path-filter.conf
    contents: 
      inline: |
        net.ipv4.conf.default.rp_filter=0
        net.ipv4.conf.*.rp_filter=0
{% endif %}

  - path: /etc/hostname
    user:
      name: root
    group:
      name: root
    mode:   0644
    contents:
      inline: |
        {{ item.hostname | default(sub_inventory_hostname) }}

  - path: /etc/NetworkManager/system-connections/{{ item.fcos_default_network_device if 'fcos_default_network_device' in item else fcos_default_network_device }}.nmconnection
    user:
      name: root
    group:
      name: root
    mode:   0600
    overwrite: true
    contents:
      inline: |
        [connection]
        type=ethernet
        interface-name={{ item.fcos_default_network_device if 'fcos_default_network_device' in item else fcos_default_network_device }}

        [ethernet]
        mac-address={{ proxmox_host_guests[kvm_id].net0_macaddr }}

        [ipv4]
        method=manual
        addresses={{ item.ansible_host }}/{{ netmask }}
        gateway={{ gateway }}
        dns={{ nameservers | join(";") }}
{% if 'bridge1' in item %}
  - path: /etc/NetworkManager/system-connections/ens19.nmconnection
    user:
      name: root
    group:
      name: root
    mode:   0600
    overwrite: true
    contents:
      inline: |
        [connection]
        type=ethernet
        interface-name=ens19

        [ethernet]
        mac-address={{ proxmox_host_guests[kvm_id].net1_macaddr }}

        [ipv4]
        method=manual
        addresses={{ item.net1_ipv4 }}/{{ item.net1_mask }}
{% endif %}
  - path: /etc/selinux/config
    user:
      name: root
    group:
      name: root
    mode:   0644
    overwrite: true
    contents:
      inline: |
        # This file controls the state of SELinux on the system.
        # SELINUX= can take one of these three values:
        #     enforcing - SELinux security policy is enforced.
        #     permissive - SELinux prints warnings instead of enforcing.
        #     disabled - No SELinux policy is loaded.
        SELINUX=permissive
        # SELINUXTYPE= can take one of these three values:
        #     targeted - Targeted processes are protected,
        #     minimum - Modification of targeted policy. Only selected processes are protected.
        #     mls - Multi Level Security protection.
        SELINUXTYPE=targeted

{% if override_sysconfig_docker %}
  - path: /etc/sysconfig/docker
    user:
      name: root
    group:
      name: root
    mode:   0644
    overwrite: true
    contents:
      inline: |
        # /etc/sysconfig/docker
        # Removed option  --default-ulimit nofile=1024:1024
        #   This caused issues with java applications like confluence,
        #   which use a lot open files at startup to generate caches.

        # Modify these options if you want to change the way the docker daemon runs
        OPTIONS="--selinux-enabled \
          --log-driver=journald \
          --live-restore \
          --init-path /usr/libexec/docker/docker-init \
          --userland-proxy-path /usr/libexec/docker/docker-proxy \
        "
{% endif %}

{% for item in fcos_cacerts %}
  - path: /etc/pki/ca-trust/source/anchors/{{ item.filename }}
    user:
      name: root
    group:
      name: root
    mode:   0644
    contents:
      inline: |
{{ item.content |indent(8,true) }}
{% endfor %}

  - path: /etc/systemd/network/10-flannel.link 
    user:
      name: root
    group:
      name: root
    mode:   0644
    contents:
      inline: |
        # /etc/systemd/network/10-flannel.link
        # https://github.com/coreos/fedora-coreos-tracker/issues/574
        # https://github.com/coreos/flannel/issues/1155
        [Match]
        OriginalName=flannel*
        [Link]
        MACAddressPolicy=none

{% endif %}


