#!/usr/bin/env bash
set -e
DIRNAME=$(dirname "$0")

FILENAME=$DIRNAME/disk-uuid

if [ ! -f "$FILENAME" ]; then
    echo "{}"
    exit 0
fi

echo "{"
cat "$FILENAME"|awk '{print "\""$1"\": \""$2"\","}'
echo "\"---\": \"---\""
echo "}"
