#!/usr/bin/env bash
set -e
{% set item   = hostvars[sub_inventory_hostname]  %}
{% set kvm_id = item.kvm_id|string  %}
{% if kvm_id not in proxmox_host_guests %}
# ERROR {{ item.inventory_hostname }}
# ERROR {{ kvm_id }}
{% else %}
{% set channel = item.fcos_channel if 'fcos_channel' in item else fcos_channel %}
{% if 'os_version' in item %}
{% set fcos_filename = "fedora-coreos-" + item.os_version + "-metal.x86_64.raw.xz" %}
{% else  %}
{% set fcos_filename = fcos_latest_coreos_filename %}
{% endif %}

qm stop {{ item.kvm_id }}
# sometimes due to a kernel bug the device disappears
lvm lvchange -aly "{{ proxmox_host_guests[kvm_id].scsi0_path }}"

# yes this did happen
if [ ! -e "{{ proxmox_host_guests[kvm_id].scsi0_path }}" ]; then
  echo "does not exist: {{ proxmox_host_guests[kvm_id].scsi0_path }}"
  exit 1
fi

xz -dc "{{ fcos_root_dir }}/{{ fcos_filename }}"|dd of="{{ proxmox_host_guests[kvm_id].scsi0_path }}"
cd "{{ proxmox_tmpdir }}/{{ kvm_id }}"
DEV=$(losetup --partscan --show --find "{{ proxmox_host_guests[kvm_id].scsi0_path }}")
if [ -e "${DEV}p1" ]; then
  mkdir -p mnt
  mount "${DEV}p1" mnt
  mkdir -p      mnt/ignition/
  cp config.ign mnt/ignition/
  cp ignition.firstboot mnt/
  umount mnt
fi
losetup --detach "$DEV"
# wait umount to complete async
sleep 3
qm start {{ item.kvm_id }}
#########################
{% endif %}

