variant: fcos
version: 1.0.0
passwd:
  users:
  - name: core
{% if (item.sshkeys|default(fcos_sshkeys))|length  > 0 %}
    ssh_authorized_keys:
{% for item in item.sshkeys|default(fcos_sshkeys) %}
    - "{{ item }}"
{% endfor %}
{% endif %}
    groups:
    - sudo
    - docker
systemd:
  units:
  - name: update-ca-trust.service
    enabled: true
    contents: |
      [Unit]
      [Service]
      Type=oneshot
      ExecStart=/usr/bin/update-ca-trust
      [Install]
      WantedBy=multi-user.target

  - name: package-installer.service
    enabled: true
    contents: |
      [Unit]
      Requires=network-online.target
      After=network-online.target NetworkManager.service
      Before=sshd.service  # run before a user can login
      [Service]
      Type=oneshot
      ExecCondition=/usr/bin/test ! -f /etc/package-installer.done
      ExecStart=/usr/bin/rpm-ostree install {{ item.fcos_install_packages|default(fcos_install_packages) | join(" ") }}
      ExecStartPost=/usr/bin/touch /etc/package-installer.done
      ExecStartPost=/usr/sbin/shutdown -r now

      [Install]
      WantedBy=multi-user.target

{% if 'scsi1_path' in proxmox[item.kvm_id] %}
  - name: var-srv-data.mount
    enabled: true
    contents: |
      [Unit]
      Before=local-fs.target
      [Mount]
      What=/dev/sdb
      Where=/var/srv/data
      Type=xfs
      [Install]
      WantedBy=local-fs.target
{% endif %}

storage:
  files:
  - path: /etc/resolv.conf
    user:
      name: root
    group:
      name: root
    mode:   0644
    contents:
      inline: |
{% for fcos_nameserver in fcos_nameservers %}
        nameserver {{ fcos_nameserver }}
{% endfor %}
{% if search|length > 0 %}
        search {{ search| join(" ") }}
{% endif %}
        options ndots:1

{% set netmask = item.netmask|default(fcos_netmask) %}
{% if  netmask is not number %}
{% set netmask = netmask | netmask_to_cidr %}
{% endif %}

  - path: /etc/hostname
    user:
      name: root
    group:
      name: root
    mode:   0644
    contents:
      inline: |
        {{ item.hostname | default(item.inventory_hostname) }}

  - path: /etc/NetworkManager/system-connections/eth0.nmconnection
    user:
      name: root
    group:
      name: root
    mode:   0600
    overwrite: true
    contents:
      inline: |
        [connection]
        type=ethernet
        interface-name={{ item.network_interface |default('eth0') }}

        [ethernet]
        mac-address={{ proxmox[item.kvm_id].mac_address }}

        [ipv4]
        method=manual
        addresses={{ item.ansible_host }}/{{ netmask }}
        gateway={{ item.gateway|default(fcos_gateway) }}
        dns={{ item.nameservers|default(fcos_nameservers) |join(";") }}

{% if fcos_override_sysconfig_docker %}
  - path: /etc/sysconfig/docker
    user:
      name: root
    group:
      name: root
    mode:   0644
    overwrite: true
    contents:
      inline: |
        # /etc/sysconfig/docker
        # Removed option  --default-ulimit nofile=1024:1024
        #   This caused issues with java applications like confluence,
        #   which use a lot open files at startup to generate caches.

        # Modify these options if you want to change the way the docker daemon runs
        OPTIONS="--selinux-enabled \
          --log-driver=journald \
          --live-restore \
          --init-path /usr/libexec/docker/docker-init \
          --userland-proxy-path /usr/libexec/docker/docker-proxy \
        "
{% endif %}
{% for item in fcos_cacerts %}

  - path: /etc/pki/ca-trust/source/anchors/{{ item.filename }}
    user:
      name: root
    group:
      name: root
    mode:   0644
    contents:
      inline: |
{{ item.content |indent(8,true) }}
{% endfor %}

