#!/usr/bin/env bash
set -e
{% set machine_list =  groups['dynamic_fcos_flash_group'] if 'dynamic_fcos_flash_group' in groups else []  %}

{% for machine in machine_list %}
{% set item  = hostvars[machine]  %}
{% if item.kvm_host == inventory_hostname %}
{% set channel = item.fcos_channel|default(fcos_channel)  %}
{% if 'fcos_version' in item %}
{% set fcos_filename = "fedora-coreos-" + item.fcos_version + "-metal.x86_64.raw.xz" %}
{% else  %}
{% set fcos_filename = fcos_latest_coreos_filename %}
{% endif %}

qm stop {{ item.kvm_id }}
# sometimes due to a kernel bug the device disappears
lvm lvchange -aly "{{ proxmox[item.kvm_id].scsi0_path }}"

# yes this did happen
if [ ! -e "{{ proxmox[item.kvm_id].scsi0_path }}" ]; then
  echo "does not exist: {{ proxmox[item.kvm_id].scsi0_path }}"
  exit 1
fi

xz -dc "{{ fcos_root_dir }}/{{ fcos_filename }}"|dd of="{{ proxmox[item.kvm_id].scsi0_path }}"
cd "{{ fcos_tmp_dir }}/{{item.kvm_id}}"
DEV=$(losetup --partscan --show --find "{{ proxmox[item.kvm_id].scsi0_path }}")
if [ -e "${DEV}p1" ]; then
  mkdir -p mnt
  mount "${DEV}p1" mnt
  mkdir -p      mnt/ignition/
  cp config.ign mnt/ignition/
  cp ignition.firstboot mnt/
  umount mnt
fi
losetup --detach "$DEV"
# wait umount to complete async
sleep 3
qm start {{ item.kvm_id }}
#########################
{% endif %}
{% endfor %}
